$rhap_background-color: transparent !default;
$custom-width: 840px;  
$custom-shadow: none !default;

.changed_styles {
  background-color: $rhap_background-color;
  width: $custom-width;
  box-shadow: $custom-shadow;
}
