$rhap_background-color: green !default;
$custom-width: 600px;
$rhap_theme-color: white !default;   

.my-element {
  background-color: $rhap_background-color;
  width: $custom-width;
  // color: $rhap_theme-color;
}
